/*
  This is an emulation of Wikidot's CSS as best as I can do it.
  I'm not the best CSSer so there's obviously going to be holes.
  We might want someone else to look at this later.

  - not_a_seagull

  This theme may be used under the Creative Commons Attribution-ShareAlike 3.0 license.
*/

/* compatibility for older browsers, I think? */
body {
  margin: 0px;
  padding: 0px;
}

/* general font settings */
body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 0.82em;
}

/* default settings for headers - these are overrided later (I think?) but is kept for compatibility purposes */
h1, h2, h3, h4, h5, h6 {
  font-family: "Trebuchet MS", Trebuchet, Verdana, Arial, Helvetica;
}

h1 {
  font-size: 190%;
  font-weight: normal;
}

h2 {
  font-size: 150%;
  font-weight: normal;
}

h3 {
  font-size: 130%;
  font-weight: bold;
}

h4 {
  font-size: 120%;
  font-weight: bold;
}

h5 {
  font-size: 100%;
  font-weight: bold;
}

h6 {
  font-size: 90%;
  font-weight: bold;
}

/* I think this is overriding the default way HTML handles images? I think this could be removed */
img {
  border-width: 0px;
}

/* Blockquotes: big, gray boxes for containing dialogue. We could make this a div? */
blockquote{
  border: 1px dashed #999;
  padding: 0 1em;
  background-color: #f4f4f4;
}

/* Tables - Probably unnecessary? */
table {
  empty-cells: show;
}

td {
  text-align: left;
}

/* Default blue link color
   This is overrided by literally every theme on the site, because blue is ugly.
   Probably can be removed. */
a {
  color: #00a;
  text-decoration: none;
}

/* In default wikidot, links become this weird color: #EEE
   I think this is a bad idea. Links now get underlined on hover. */
a:hover {
  text-decoration: underline;
}

/* Waiting cursor, for when hovering over elements tagged with "wait" */
.wait {
  cursor: wait;
}

form {
  margin: 0px;
  padding: 0px;
}

/* I think this gets overridden later on. I don't think I've ever seen this come into effect. */
a.newpage {
  color: #933;
}

/* This wraps the wrapper for the container for the main content */
#container-wrap-wrap {
  position: relative;
}

/* This contains the main content */
#container {
  margin: 0;
  padding: 0;
}

/* The header at the top of most pages */
#header {
  position: relative;
  z-index: 30; /* TODO: fix z-indices */
  height: 7em;
}

#header h1 {
  margin: 0;
  padding: 0;
}

#header h2 {
  margin: 0;
  padding: 0;
}

/* Wraps the main page content */
#content-wrap {
  margin: 0;
  padding: 0;

  /* This is apparently a fix for IE6 */
  _height: 1%;
  min-height: 1px;
}

/* Sidebar to the side of the page */
#side-bar {
  float: left;
  width: 14em;
  padding: 1em;
  margin: 0 0 1em 0;
  clear: left;
}

#side-bar ul {
  padding: 0 0 0 2em;
  margin: 0.5em 0;
}

/* Page title (the big text with "SCP-XXXX") */
#page-title {
  margin: 0 0 0.5em 0;
  padding-top: 0.5em;
  font-size: 200%;
  border-bottom: 1px solid #666;
}

/* Breadcrumbs navigation */
#breadcrumbs {
  margin-top: -0.5em;
}

/* This div contains the primary content of the page */
#main-content {
  margin-left: 17em;
  padding: 0 1em;
}

/* The div at the bottom of the page that says "page revision: 1042, last edited:" etc */
#page-info-break {
  clear: both;
  height: 1px;
  font-size: 1px;
}

#page-info {
  clear: both;
  text-align: right;
  font-size: 87%;
  margin: 2px 2px;
}

/* Tags */
.page-tags {
  clear: both;
  text-align: left;
  margin: 10px 0 0 0;
  padding: 0 2px;
}

.page-tags a {
  margin: 0 3px;
}

.page-tags span {
  padding-top: 2p;
  border-top: 1px solid #BBB;
  font-size: 85%
}

/* Footer is the black bar at the bottom of the page with help, terms of service, etc. */
#footer {
  margin-top: 5px;
  padding: 3px 10px;
  clear: both;
  overflow: hidden;
}

#footer .options {
  float: right;
  font-size: 90%;
  padding: 1px 0;
}

#footer p {
  margin: 0.2em 0;
  padding: 0;
}

/* License area is where it says that this page is licensed as CC-BY-SA */
#license-area {
  padding: 0.5em 0;
  color: #555;
  text-align: center;
}

/* The search bar. We're (probably) going to brew our own search, we might use the same CSS. */
#search-top-box {
  position: absolute;
  right: 1em;
  top: 3em;
  z-index: 10;
}

#search-top-box input.empty {
  color: #aaa;
}

/* The login bar */
#login-status {
  position: absolute;
  right: 10px;
  top: 10px;
  overflow: visible;
  z-index: 25;
}

/* A CSS widget to make things blink */
@-webkit-keyframes blinker {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

/* Messages box, I think */
#login-status > a > strong {
  text-decoration: blink;

  /* Webkit override */
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
  -webkit-animation-duration: 1s;
}

/* Account options dropdown */
#account-options {
  position: absolute;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 15em;
  right: 0;
  padding: 0;
  z-index: 40; /* TODO: fix z-indexes */
  background-color: white;
  display: none;
  border: 1px solid #888;
}

#account-options ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#account-options li {
  display: block;
  margin: 0;
  padding: 0;
}

#account-options li a {
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 2px 5px;
  z-index: 40;
}

#account-options li a:hover {
  color: black;
}

/* The button opening the dropdown */
#account-topbutton {
  font-size: 80%;
  font-weight: bold;
  padding: 0 5px;
  border: 1px solid #888;
  margin-left: 5px;
  text-decoration: none;
  background-color: #fff;
}

/* The top bar containing navigation lists/links */
#top-bar {
  position: absolute;
  right: 1em;
  bottom: 0px;
  z-index: 0;
}

#top-bar ul {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}

#top-bar li {
  float: left;
  margin: 0 5px;
  padding: 0;
  list-style: none;
}

#top-bar li ul {
  padding: 0;
  margin: 0;
  width: 12em;
  border: 1px solid #eee;

  position: absolute;
  visibility: hidden;
}

/* Make it appear? */
#top-bar li:hover ul, #top-bar li.sfhover ul {
  visibility: visible;
}

/* There might be a better, more recursive way of doing this? */
#top-bar li ul li {
  padding: 0;
  margin: 0;
  display: block;
  float: none;
}

#top-bar li a {
  text-align: center;
  display: block;
  margin: 0;
  padding: 1px 1em;
  text-decoration: none;
}

#top-bar a:hover {
  background-color: #fff;
  text-decoration: underline;
}

#top-bar li ul li a {
  width: 10em;
  text-align: left;
  background-color: #fff;
  border: none;
}
