<!-- TODO: put user module here -->
<a href="/user/myaccount">My Account</a>
<a href="/user/myaccount/messages">
  <strong>{{ message_count }}</strong>
</a>
<a id="account-topbutton">▼</a>
<div id="account-options">
  <ul>
    <li><a href="/user/myaccount/activity">Activity</a></li>
    <li><a href="/user/myaccount/messages">Messages</a></li>
    <li><a href="/user/myaccount/settings">Settings</a></li>
    <li><a href="/user/myaccount/sites">Sites</a></li>
    <li><a href="/user/myaccount/activity">Activity</a></li>
    <li><a id="logout-button">Logout</a></li>
  </ul>
</div>
