<b>This is a test</b><br />
<i>This is a test</i>

<div class="collapsible-block">
  <div class="collapsible-block-folded">
    <a class="collapsible-block-link">hello there</a>
  </div>
  <div class="collapsible-block-unfolded vanished">
    <div class="collapsible-block-unfolded-link">
      <a class="collapsible-block-link">jahseh_moment</a>
    </div>

    <div class="collapsible-content">
      bruhmoment
    </div>
  </div>
</div>

