<!DOCTYPE html>
<html>
  <head>
    <title>{{ meta_title }}SCP Foundation</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/sys/theme.css">
  </head>
  <body>
    <div id="container-wrap-wrap">
      <div id="container-wrap">
        <div id="container">

          <!-- header at top of page, also top bar -->
          <div id="header">
            <h1>
              <a href="/">{{ site_name }}</a>
            </h1>
            <h2>{{ site_subtext }}</h2>
            
            <div id="top-bar">
              {{ top_bar }}
            </div>

            <div id="login-status">
              {{ login_status }}
            </div>
          </div>

          <div id="content-wrap">
            <div id="side-bar">
              {{ side_bar }}
            </div>
            
            <div id="main-content">
              <div id="page-content">
                {{ content }}
              </div>
              <div class="page-tags">
                <span>
                  {{ page_tags }}
                </span>
              </div>
              <div id="page-info-break"></div>
              <div id="page-options-container">
                <div id="page-info">
                  {{ page_info }}
                </div>
                <div class="page-watch-options">
                  {{ page_watch_options }}
                </div>
                <div id="utilities-links-1" class="page-options-bottom">
                  <!-- TODO: links to utilitites -->
                </div>
                <div id="utilities-links-2" class="page-options-bottom">

                </div>
              </div>
              <div id="utility-block">
                <!-- TODO: page utilities -->
              </div>
            </div>
          </div>
          <div id="footer"></div>
          <div id="license-area" class="license-area">
            {{ licensing_info }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
