<!DOCTYPE html>
<html>
  <head>
    <title>{{ meta_title }}SCP Foundation</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="/sys/css/wikidot/wikidot-basic.css">
    <link rel="stylesheet" type="text/css" href="/sys/css/wikidot/odialog.css">
    <link rel="stylesheet" type="text/css" href="/sys/css/wikidot/forums.css">
    <link rel="stylesheet" type="text/css" href="/sys/css/sigma-9/sigma-9.css">
    <link rel="stylesheet" type="text/css" href="/sys/css/tabs.css">

    <script type="text/javascript" src="/sys/bundle.js"></script>
  </head>
  <body>
    <div id="container-wrap-wrap">
      <div id="container-wrap">
        <div id="container">

          <!-- header at top of page, also top bar -->
          <div id="header">
            <h1>
              <a href="/">{{ site_name }}</a>
            </h1>
            <h2>{{ site_subtext }}</h2>
            
            <div id="top-bar">
              {{ top_bar }}
            </div>

            <div id="login-status">
              {{ login_status }}
            </div>
          </div>

          <div id="content-wrap">
            <div id="side-bar">
              {{ side_bar }}
            </div>
            
            <div id="main-content">
              <div id="page-content">
                {{ content }}
              </div>
              <div class="page-tags">
                <span>
                  {{ page_tags }}
                </span>
              </div>
              <div id="page-info-break"></div>
              <div id="page-options-container">
                <div id="page-info">
                  {{ page_info }}
                </div>
                <div class="page-watch-options">
                  {{ page_watch_options }}
                </div>
                <div id="utilities-links-1" class="page-options-bottom">
                  <!-- TODO: links to utilitites -->
                  <a id="utility-rating-link">Rate ({{ rating }})</a>
                </div>
                <div id="utilities-links-2" class="page-options-bottom">

                </div>
              </div>
              <div id="utility-block">
                <!-- TODO: page utilities -->
                <div id="utility-rating-module" class="vanished">
                </div>

                <div id="utility-edit-block" class="vanished">
                  <form id="edit-page-form">
                    <!-- title box -->
                    <table style="width: 100%">
                      <tr>
                        <td style="width: 30%">
                          <p>Page Title:</p>
                        </td>
                        <td style="width: 60%">
                          <input id="edit-title-box" name="edit-title-box" style="width: 100%; text-align: left" />
                        </td>
                      </tr>
                    </table>
                    <p>
                      <textarea name="edit-source-box" id="edit-source-box" style="width: 95%; height: 400px;" cols="50" rows="10">
                      </textarea>
                    </p>
                    <!-- comment box -->
                    <table>
                      <tr>
                        <td>
                          <div>
                            Short description of changes:<br />
                            <textarea id="edit-comment-box" name="edit-comment-box" rows="2" cols="40">
                            </textarea>
                          </div>
                        </td>
                      </tr>
                    </table>
                    <div id="edit-buttons">
                      <input type="button" id="edit-cancel-button" name="edit-cancel-button" value="Cancel" />
                      <input type="button" id="edit-sac-button" name="edit-sac-button" value="Save and Continue" />
                      <input type="button" id="edit-save-button" name="edit-save-button" value="Save" />
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div id="footer"></div>
          <div id="license-area" class="license-area">
            {{ licensing_info }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
